html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  /* --- Light Mode --- */
  --bg-main: #fffcf2;       
  --bg-card: #ffffff;      
  --text-main: #000000;    
  --border-color: #000000; 
  --shadow-color: #000000;
  
  /* work - cv */
  --hover-black: #000000;
  --text-hover: #ffffff;

  /* logo */
  --bg-logo: #000;
  --text-logo: #fff;

  /* button */
  --text-btn: #fff;
  --bg-btn: #000;
  
  --accent-yellow: #ffd600;
  --accent-purple: #8b5cf6; 
}

/* --- Dark Mode  --- */
body.dark-mode {
  --bg-main: #000;     
  --bg-card: #1e1e1e; 
  --text-main: #ffffff;    
  --border-color: #ffffff;
  --shadow-color: #ffffff; 

  /* work - cv */
  --hover-black: #fff;
  --text-hover: #000;

  /* logo */
  --bg-logo: #fff;
  --text-logo: #000;

  /* button */
  --text-btn: #000;
  --bg-btn: #fff;
  
}

body {
  margin: 0;
  background-color: var(--bg-main);
  color: var(--text-main);
  
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}