@font-face {
  font-family: "anakotmai-bold";
  src: url("/Anakotmai/Anakotmai/webfont/anakotmai-bold.woff2") format("woff2"),
    url("/Anakotmai/Anakotmai/webfont/anakotmai-bold.woff") format("woff"),
    url("/Anakotmai/Anakotmai/webfont/anakotmai-bold.eot") format("eot");
}

@font-face {
  font-family: "anakotmai-light";
  src: url("/Anakotmai/Anakotmai/webfont/anakotmai-light.woff2") format("woff2"),
    url("/Anakotmai/Anakotmai/webfont/anakotmai-light.woff") format("woff"),
    url("/Anakotmai/Anakotmai/webfont/anakotmai-light.eot") format("eot");
}

@font-face {
  font-family: "anakotmai-medium";
  src: url("/Anakotmai/Anakotmai/webfont/anakotmai-medium.woff2") format("woff2"),
    url("/Anakotmai/Anakotmai/webfont/anakotmai-medium.woff") format("woff"),
    url("/Anakotmai/Anakotmai/webfont/anakotmai-medium.eot") format("eot");
}

html {
  font-family: "anakotmai-medium";
}