.footer {
  width: 100%;
  background-color: #000000;
  color: white;
  padding: 30px 20px;
}

.ft-text-con {
  padding: 10px;
  text-align: center;
}

.ft-social-con {
  display: flex;
  flex-direction: column;
}
.ft-social-con a:visited {
  color: white;
}
.ft-social-items {
  text-decoration: none;

  display: flex;
  justify-content: center;
  gap: 10px;
}

.ft-social-items a {
  padding: 10px;
  text-decoration: none;
}
.ft-social-items a:hover, .ft-social-items a:hover i{
  color:#ffd600;
}
.ft-social-items:nth-child(1) {
  font-size: 14px;
  color: rgb(111, 111, 111);
}

.ft-credit-con {
  font-size: 12px;
  text-align: center;
  padding: 10px;
  color: rgb(111, 111, 111);
}
