/* header section */
.header {
  width: 100%;
  border: 1px solid black;
  border-bottom: 2px solid black;
  /* background-color: #fffcf2; */

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(80px, auto);
  gap: 16px;

  position: fixed;
  top: 0;
}
/* logo */
.logo-con {
  /* background-color: black; */
  grid-column: 1/3;
  grid-row: 1;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* margin: 20px auto; */
  /* padding: 0 10px; */
  /* text-decoration: none; */
  /* transition: transform 0.2s ease; */
}

.logo-items {
  /* color: white; */
}

.logo-con:hover {
  /* transform: translateY(-5px); */
}

/* navigation */ 
.nav-con { 
  border: 1px solid black;
  grid-column: 3/4;
  grid-row: 1;

  /* display: flex; */
  /* justify-content: flex-end; */
  /* align-items: center; */
  /* white-space: nowrap; */
}

.nav-items {
  border : 1px solid black;
  /* display: block; */
  position: absolute;
  top: 160px;
  /* visibility: hidden; */
  /* padding: 0.3rem 1rem; */
  /* color: black; */
  /* text-decoration: none; */
  /* font-size: 14px; */
}

.nav-items:nth-child(1):link {
  /* background-color: #ffd600; */
  /* border: 2px solid black; */
  /* box-shadow: 3px 3px black; */
  /* text-decoration: none; */
}
.nav-items:hover {
  /* text-decoration: underline; */
  /* text-decoration-thickness: 3px; */
  /* text-underline-offset: 5px; */
}

/* light mode */
.light-mode {
  /* border: 2px solid black; */
  grid-column: 4/5;
  grid-row: 1;
  /* margin: auto; */
  /* padding: 5px; */
}
.light-mode-items {
  /* color: #000000; */
}
.light-mode:hover .light-mode-items {
  /* color: #ffffff; */
}
.light-mode:hover {
  /* background-color: #000000; */
  /* cursor: pointer; */
}
.main {
  /* margin-top: 80px; */
}

@media (min-width: 425px) {
  .header {
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
  }
  /* logo */
  .logo-con {
    background-color: black;
    grid-column: 2/4;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 0 10px;
    text-decoration: none;
    transition: transform 0.2s ease;
  }

  .logo-items {
    color: white;
  }

  .logo-con:hover {
    transform: translateY(-5px);
  }

  /* navigation */
  .nav-con {
    /* border: 1px solid black; */
    grid-column: 6/11;
    grid-row: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    white-space: nowrap;
  }

  .nav-items {
    /* border : 1px solid black; */
    padding: 0.3rem 1rem;
    color: black;
    text-decoration: none;
    font-size: 14px;
  }

  .nav-items:nth-child(1):link {
    background-color: #ffd600;
    border: 2px solid black;
    box-shadow: 3px 3px black;
    text-decoration: none;
  }
  .nav-items:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
  }

  /* light mode */
  .light-mode {
    border: 2px solid black;
    grid-column: 11/12;
    grid-row: 1;
    margin: auto;
    padding: 5px;
  }
  .light-mode-items {
    color: #000000;
  }
  .light-mode:hover .light-mode-items {
    color: #ffffff;
  }
  .light-mode:hover {
    background-color: #000000;
    cursor: pointer;
  }
  .main {
    margin-top: 80px;
  }
}
