/* main > m-con */
main {
  height: 1800px;
  /* 600 600 600 */
}
/* m-con > m-one, m-two, m-three */
.m-con {
  /* border: 1px solid red; */
  height: 1800px;

  display: grid;
  grid-template-rows: repeat(3, 1fr);
}
/* ################## section 1 (m - one) ###################### */
/* m-one > headline, interests, work-cv */
.m-one {
  /* border: 1px solid black; */
  grid-row: 1/2;
  grid-column: 1;

  display: flex;
  flex-direction: column;
}
/* headline > c-kmitl, greeting */
.headline {
  /* border: 1px solid black; */
  padding: 50px 20px 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.c-kmitl {
  border: 2px solid black;
  background-color: #ffd600;
  width: 10rem;
  text-align: center;
  box-shadow: 5px 5px 0 black;
  padding: 5px;
  font-size: 1rem;

  transform: rotate(-4deg);
}
.greeting {
  font-size: 4.2rem;
  line-height: 0.9;
}
/* ul > li */
ul.interests {
  /* border: 1px solid black; */
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  padding: 0 20px;
  font-family: "anakotmai-light";
  font-size: 1.2rem;
}
ul.interests > li {
  margin: 5px 0;
}
.work-cv {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.work-cv > a {
  padding: 20px;
  border: 2px solid black;
  text-align: center;
  text-decoration: none;
}
.work-cv > a:nth-child(1) {
  background-color: #8b5cf6;
  box-shadow: 5px 5px 0 black;
  color: #fff;
  width: 18rem;
  transition: all 0.2s ease-in-out;
}
.work-cv > a:nth-child(1):hover {
  box-shadow: 0 0 0 black;
  transform: translate(5px, 5px);
}
.work-cv > a:nth-child(1) + a {
  width: 16rem;
  transition: all 0.2s ease;
}
.work-cv > a:nth-child(1) + a:link {
  color: black;
}

.work-cv > a:nth-child(1) + a:visited {
  color: black;
}
.work-cv > a:nth-child(1) + a:hover {
  background-color: black;
  color: #fff;
}

/* ################## section 2 (m - two) ###################### */
.m-two {
  /* border: 1px solid black; */
  grid-row: 2/3;
  grid-column: 1;
  padding : 20px 0;
}

.m-two figure {
  max-width: 350px;
  border: 3px solid black;
  padding: 20px 20px 50px;
  box-shadow: 5px 5px 0 black;
  transform: rotate(3deg);
  transition: all 0.2s ease;
  background-color: #fff;

  position:relative;
}

.m-two figure img.profile-img {
  max-width: 100%;
  border: 3px solid black;
}

.m-two figure:hover {
  transform: rotate(0);
}

.m-two img.sticker {
  max-width: 350px;
  position: absolute;
  top:-20px;
  left: 280px;
  z-index: 99;
}

/* ################## section 3 (m - three) ###################### */
.m-three {
  /* border: 1px solid black; */
  grid-row: 3/4;
  grid-column: 1;
  padding: 0 20px;
}

.m-three .about-me {
  border: 2px solid black;
  box-shadow: 5px 5px 0 black;
  background-color: white;
  padding: 20px;
}

.m-three .about-me h1{
  text-decoration: underline;
  text-decoration-color: #ffd600;
  text-underline-offset: 8px;
  text-decoration-thickness:5px ;
}