body::-webkit-scrollbar {
  width: 0.8rem;
}

body::-webkit-scrollbar-track {
  border-left : 2px solid var(--border-color);
  background-color: var(--bg-main);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--accent-yellow);
}
