body::-webkit-scrollbar {
  width: 0.8rem;
}

body::-webkit-scrollbar-track {
  border-left : 2px solid black;
  background-color: #FFFCF2;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
}
